
<div class="p-2">
<h2 class="m-1">Carritos</h2>
<br>
<h3 class="m-1">Inicia sesion en api/session/login para crear tu carrito</h3>
<form action="/api/carts" method="post">
<br>
<button class="btn btn-primary m-1">
    Crear Carrito
</button>
  
</form>


<ul class="people_list">
  {{#each result}}

  <li>Carrito Numero: {{this._id}}</li>

  </br>

  <button class="btn btn-dark">
    <a href="/api/carts/{{this._id}}" target="_blank">Ver detalle</a>
  </button>

  </br> </br>

  {{#if this.products}}

  <form action="/api/carts/{{this._id}}/purchase" method="post">
    <button class="btn btn-primary m-1"> Comprar!</button>
  </form>

  {{/if}}

  </br>
  </br>

  {{/each}}
</ul>
</div>
