<body class="align">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Shanti Back</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<br><br><br>

<div>
<h3> Bienvenid@!, el mail con el que ingresaste es : {{user.user}} </h3>
<h3>  Tenes permisos como : {{user.role}} </h3>
</div>
<a href="/api" class="nav-link">Volver al inicio</a>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-auto">
  <p>©Shanti 2023. Todos los derechos reservados.</p>
</footer>

</body>