<body>
  <nav>
    {{#if loggedin}}
    <div>
      <h4>Bienvenido: {{user}}</h4>
      <div >
        <a id="link" href="/api/session/logout">Terminar sesion</a>
      </div>
    </div>
      {{/if}}

    <ul>
      <!-- Si nos hemos loggeado tenemos acceso a las funcionalidades para ver productos, carts y usuarios  -->
      {{#if loggedin}}
      <li>
        <a href="/api/products">
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a href="/api/carts">
          <span>Carritos</span>
        </a>
      </li>
      <li>
        <a href="/api/docs">
          <span>Docs</span>
        </a>
      </li>
            <li>
        <a href="/api/users/documents">
          <span >Perfil</span>
        </a>
      </li>

      {{/if}}


 {{#unless loggedBoolean}}
      <li>
        <a href="/api/session/login">
         <span>Login</span>
        </a>
      </li>
      <li>
        <a href="/api/session/register">
          <span>Register</span>
        </a>
      </li>
 {{/unless }}

            {{#if loggedin}}


            {{#if isAdmin}}
    <li>
        <a href="/api/users/premium">
          <span>Users</span>
        </a>
    </li>
{{/if}}
{{/if}}
</ul>
</nav>
</body>