<div>
  <h2>Login</h2>
  <form id="loginform" action="/api/session/login" method="POST" >
    <p>
    <input type="text" id="email" name="email" placeholder="Email Address"><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="password" name="password"><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <button type="submit">Iniciar sesion</button>
    </p>
  </form>
  <div>
    <p><a href="/api/session/restore">Olvidaste tu Contraseña?</a><p>
  </div>
  <div>
    <p><a href="/api/session/register"> Registrarse</a><p>
  </div>
</div>
<script type="module" src="/login.js"></script>

