<body class="align">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Shanti Back</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br><br><br>
<div> 
  <h2>Registro</h2>

<form action="/api/session/register" method="POST" id="registerForm">
  <p>
    <input type="text" id="firstname" name="first_name" placeholder="Ingresa tu nombre" required><i class="validation"><span></span><span></span></i>
  </p>
  <p>
    <input type="text" id="lastname" name="last_name" placeholder="Ingresa tu apellido" required><i class="validation"><span></span><span></span></i>
  </p>
  <p>
    <input type="text" id="age" name="age" placeholder=" Ingresa tu edad" required><i class="validation"><span></span><span></span></i>
  </p>
  <p>
    <input type="text" id="phone" name="phone" placeholder="+541135636698" required><i class="validation"><span></span><span></span></i>
  </p>
  <p>
    <input type="email" id="email" name="email" placeholder=" Ingresa tu email" required><i class="validation"><span></span><span></span></i>
  </p>
  <p>
    <input type="password" id="password" name="password" placeholder="Contraseña" required><i class="validation"><span></span><span></span></i>
  </p>
  
  <p>
    <button type="submit">Registrarse</button>
  </p>
</form>

<a href="login">Iniciar Sesion</a>

</div>
<br><br><br><br><br><br>
<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-auto">
  <p>©Shanti 2023. Todos los derechos reservados.</p>
</footer>
</body>

<script type="module" src="/register.js"> </script>