<div>
  <form id="mailform">
 {{#unless update}}

<div>
	<input id="email" class="input100" type="text" name="email" placeholder="Email">
</div>
<div>
	<button  type="submit" class="login100-form-btn">Restaurar contraseña</button>
</div>
</div>

{{updateUserMessage}}
{{/unless}}
</form>

<div>
 <h2 id="mailMessage"></h2> 
 {{#if update}}

 <h5  id="token">{{token}}</h5>

 <form id="form">
<span>
  Restaura tu contraseña
</span>
<div data-validate = "Password is required">
	<input id="newPassword" class="input100" type="password" name="newPassword" placeholder="Indicanos tu nueva contraseña">
</div>
<div class="wrap-input100 validate-input" data-validate = "Password is required">
	<input id="password" class="input100" type="password" name="confirmPassword" placeholder="Ingresa la misma contraseña">
</div>

<div>
	<button id="enviarPeticion" class="login100-form-btn">
    Restaurar contraseña
	</button>
</div>

</form>

  {{/if}}

 </div>

<script type="module" src="/restore.js"></script>
