<body class="align">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/api">Shanti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<br><br><br>

<h1>Has actualizado exitosamente tu usuario</h1>
<a href="/api/session/login">Logueate</a>

<br><br><br>

<!-- Footer -->
<footer class="bg-dark text-light text-center py-3 mt-auto">
    <p>©Shanti 2023. Todos los derechos reservados.</p>
</footer>
</body>
